<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing MySQL Database</title>
</head>
<body>
    <form method="POST" action="/">
        First name:<br>
        <input type="text" name="firstname"><br><br>
        Last name:<br>
        <input type="text" name="lastname">
        <br> <br>
        <input type="radio" name="gender" value="male" checked> Male &nbsp; &nbsp; &nbsp;
        <input type="radio" name="gender" value="female"> Female &nbsp; &nbsp; &nbsp;
        <input type="radio" name="gender" value="other"> Other <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>